* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Regular'), local('Montserrat-Regular'),
    url('Montserrat-Light.ttf') format('ttf'),
    url('Montserrat-Medium.ttf') format('ttf'),
    url('Montserrat-Regular.ttf') format('ttf');
  font-weight: normal;
}

body {
  font-family: 'Montserrat', sans-serif;
}
